@tailwind base;
@tailwind components;
@tailwind utilities;

.homesection {
}
.homeform {
  background-color: aqua;
}
.homeform h1 {
  font-size: 100px;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
